# Ignore this
/workspace
/mysql
/custom
/build/custom
/conf
/.env
/.idea/*


#--------------------------#
# IDE Project Files/Folder #
#--------------------------#
/nbproject/
/.idea/*
./idea
.idea/vcs.xml
/.phpintel/

.idea/dockerdev.iml